<div class="master-column-wrapper">
    <div class="center-1">
        <div class="page topic-page" id="ph-topic">
            <div class="page-title" id="ph-title">
                <h1>@Localizer["AboutUs"]</h1>
            </div>
            <div class="footer about-us-bg">
                <div class="newsletter">
                    <div class="newsletter-container about-us-bg-img" style="background:url(/images/gabrinicosmetics/about-us.png)">
                    </div>
                </div>
@*                 <img src="~/images/gabrinicosmetics/about-us.png" style="width: 100%;max-height: 250px;" />
 *@            </div>
            <div class="page-body master-wrapper-content">
                <p>@Localizer["AboutUsPage"]</p>
            </div>
        </div>
    </div>
</div>