<div class="master-column-wrapper">
    <div class="center-1">
        <div class="page topic-page" id="ph-topic">
            <div class="page-title" id="ph-title">
                <h1>@Localizer["ConditionsofUse"]</h1>
            </div>
            <div class="page-body master-wrapper-content">
                <p>@Localizer["ConditionsofUsePage"]</p>
            </div>
        </div>
    </div>
</div>