@{
	Layout = null;
}

<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<!-- HTML Meta Tags -->
	<title>Gabrini Kozmetik</title>

	<div id="fb-root"></div>

	<script type="text/javascript" src="~/js/jquery.js" type="text/javascript"></script>
	<link rel="stylesheet" href="~/templates/pink/styleee7d.css" />
	<link rel="stylesheet" href="~/templates/pink/animations.css" type="text/css">
	<script src='~/templates/pink/animate.js'></script>

</head>
<body>
	<div class="animer animatedParent" data-sequence='300'>
		<div class="wrapping relative">
			<div class="bc1"><img class="animated fadeInDownShort" data-id='1' src="~/templates/pink/images/bc1.png"></div>
			<div class="bc2"><img class="animated fadeInDownShort" data-id='2' src="~/templates/pink/images/bc2.png"></div>
			<div class="bc3"><img class="animated bounceInDown" data-id='3' src="~/templates/pink/images/bclogo.png"></div>
			<div class="bc4"><img class="animated growIn sharpen" data-id='4' src="~/templates/pink/images/mk2.png"></div>
			<div class="bc5"><img class="animated growIn sharpen" data-id='5' src="~/templates/pink/images/klm.png"></div>
			<div class="bc6"><img class="animated fadeInLeftShort sharpen" data-id='6' src="~/templates/pink/images/hl.png"></div>
			<div class="bc7"><img class="animated fadeInUpShort sharpen" data-id='7' src="~/templates/pink/images/oj.png"></div>
			<div class="bc8"><img class="animated fadeInRightShort sharpen" data-id='8' src="~/templates/pink/images/rj.png"></div>
		</div>
		<div class="lnrx"></div>
	</div>
</body>

</html>