@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model GabriniCosmetics.Areas.Admin.Models.DTOs.CreateSubcategoryDTO

<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Create New Subcategory</h4>
                </div>
                <div class="card-body">
                    <form href="/Admin/SubCategories/Create" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NameEn" class="control-label"></label>
                            <input asp-for="NameEn" class="form-control" />
                            <span asp-validation-for="NameEn" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NameAr" class="control-label"></label>
                            <input asp-for="NameAr" class="form-control" />
                            <span asp-validation-for="NameAr" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories">
                                <option selected disabled>Select Category</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group d-flex gap-2 justify-content-end">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <a href="/Admin/SubCategories" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
