@model GabriniCosmetics.Areas.Admin.Models.DTOs.UpdateSubcategoryDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit Subcategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Edit Subcategory</h4>
                </div>
                <div class="card-body">
                    <form href="Admin/SubCategories/Edit" method="post">
                        <input type="hidden" asp-for="Id" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NameEn" class="control-label"></label>
                            <input asp-for="NameEn" class="form-control" required/>
                            <span asp-validation-for="NameEn" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NameAr" class="control-label"></label>
                            <input asp-for="NameAr" class="form-control" required/>
                            <span asp-validation-for="NameAr" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group d-flex gap-2 justify-content-end">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a href="/Admin/SubCategories" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
